@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 25px;
  text-align: center;
}

main{
/*   border: 1px solid black; */
  display: table;
  margin: 0px auto;
}

h1 {
  font-weight: bold;
  color: black;
}

form, #output {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  border-radius: 3px;
  display: table;
  margin: 0px auto;
  padding: 20px;
  font-size: 16px;
}

#output{ 
  margin-top: 20px;
  width: 100%;
  font-family: monospace;
  display: none;
  height: 90px;
}

input{
  font-size: 16px;
}

.file-input {
  font-family: 'Roboto', sans-serif;
  margin: 0px auto;
  margin-bottom: 10px;
  font-size: 16px;
}

li {
  margin-bottom: 5px;
}

